@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Customer Login Başarılı</h1>

<a class="btn nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout"> Çıkış Yap </a>
//<a class="btn nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Create"> Yazar Ekle </a>
//<a class="btn nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index"> Yazar Listele </a>
